:root {
    --primary-gold: #feb913;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 245, 245);
    /* background-color: yellow; */
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: unset;
    font-weight: 100;
}

nav {
    height: 15vh;
    border-bottom: 0.5px solid gray;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    font-weight: 100;
    font-style: italic;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgb(202, 202, 202);
}

.banner {
    margin: 0 auto;
    width: 80vw;
    height: 55vh;
    padding: 40px 60px;
    /* transition: all 0.3s, ease-in; */
    background-blend-mode: normal, normal, multiply, normal;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 40px 40px 0px 40px;

    /* layout */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
}

.banner__text {
    color: white;
    display: flex;
    flex-direction: column;
}
.banner__text p {
    font-weight: 100;
}

.banner__cat {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.banner__cat-button {
    background-color: var(--primary-gold);
    border-radius: 5px;
    padding: 20px 20px;
    height: 50px;
    width: 160px;
    border: none;
    font-size: 0.9rem;
    appearance: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    margin: 0;
    line-height: 90%;
}

/* Media Queries */
/* devices with width up to 425px */
@media (max-width: 425px) {
    body {
        background-color: yellow;
        overflow-x: hidden;
    }
    h3 {
        font-size: 3rem;
    }
    .banner {
        padding: 20px;
        margin: 0;
        border-radius: 0;
        width: 100vw;
        justify-content: flex-end;
        height: 60vh;
        background-size: cover;
    }

    .banner__cat {
        align-self: center;
    }
    .banner__cat-button {
        padding: 20px;
        height: 54px;
        width: 140px;
        font-size: 0.7rem;
    }
    /* 
    main {
        display: unset;
    } */
}

/* Media query for devices with width between 426px and 768px */
@media (min-width: 426px) and (max-width: 768px) {
    body {
        background-color: green;
    }
    h3 {
        font-size: 2rem;
    }
    .banner {
        padding: 20px;
        margin: 0;
        height: 35vw;
        border-radius: 0;
        background-size: cover;
        background-position: right;
    }
    .banner p {
        font-size: 0.8rem;
    }

    .banner__cat-button {
        padding: 15px;
        height: 40px;
        width: 110px;
        font-size: 0.6rem;
    }

    main {
        width: 100%;
    }
}

/* Media query for devices with width between 769px and 1440px */
@media (min-width: 769px) and (max-width: 1440px) {
    body {
        background-color: purple;
    }
    h3 {
        font-size: 2.5rem;
    }

    .banner {
        height: 40vh;
        background-size: cover;
        background-position: right;
    }
}

/* Media query for devices with width 1441px and above */
@media (min-width: 1441px) {
    body {
        background-color: gray;
    }
}
